<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>D01A to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RDAxQQ==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>D018 to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RDAxOA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>add 1022 vendor id (breaks nvdia hdmi)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AhAAAHR7Pd4QAAAPhVMB
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				IhAAAHR7PQIQAAAPhHAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hardcoding 1022 1457 </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hoA+Og==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				IhBXFA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hardcoding 1022 15e3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hoA+Og==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				IhDjFQ==
				</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
